body{
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
header{
  position: fixed;
  height: 50px;
  background:#F0F0F0;
  top: 0;
  right: 0;
  left: 0;
}
.logo{
  padding-left: 50px;
  padding-top: 10px;
  font-weight: 600;
  font-size: 1.5em;
}
.logo a{
  text-decoration: none;
  color: black;
}
.logo a:hover{
  text-decoration: underline;
  color: blueviolet;
}
nav{
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aqua;
}
li{
  float: left;
}
li a{
  display: block;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: blue;
}
#main{
  position: relative;
  top: 75px;
  right: 0;
  left: 0;
  background: #F0F0F0;
}
.big-container, .bottomarticle{
  background-image: url("../img/big-image.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  position: relative;
  opacity:0.70;
}
.big-container{
  min-height: 500px;
  color: black;
}
.big-text{
  text-align: center;
  padding-top: 15%;
  font-size: 3em;
  font-weight: 600;
}
.thumbnail{
    background-color: cadetblue;
    font-weight: 100;
    color: #797478;
    float: left;
    width: 30%;
    margin: 2% 1% 80px 2%;
    height: 300px;
}
.bottomarticle{
    background-color: coral;
    position: absolute;
    top: 830px;
    margin: 2% 1% 0 2%;
    width: 96%;
    height: 200px;
}
footer{
  position: absolute;
  float: none;
  bottom: -100%;
  right: 0;
  left: 0;
  background-color: violet;
}
