body{
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
header{
  position: fixed;
  height: 50px;
  background:#F0F0F0;
  top: 0;
  right: 0;
  left: 0;
}
.logo{
  padding-left: 50px;
  padding-top: 10px;
  font-weight: 600;
  font-size: 1.5em;
}
.logo a{
  text-decoration: none;
  color: black;
}
.logo a:hover{
  text-decoration: underline;
  color: blueviolet;
}
nav{
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aqua;
}
li{
  float: left;
}
li a{
  display: block;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: blue;
}
#main{
  position: relative;
  top: 75px;
  right: 0;
  left: 0;
  background: #F0F0F0;
}
.big-container{
  background-color: chartreuse;
  position: relative;

}
.thumbnail{
  background-color: crimson;
}
.bottomarticle{
  background-color: coral;
}
